#contenedor {
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}
#imagen {
    max-width: 90%;
    height: auto;
    border-radius: 15px;
}
#texto {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 1.2rem;
    margin-top: 20px;
}
